/*stylesheet for pomodoro clock app*/

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  height: calc(100% - 125px);
  background-color: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid orange;
}

/* CSS for mug */
.mug-container {
  position: relative;

  /*width: 400px;
  height: 250px;*/
  min-width: 200px;
  min-height: 150px;

  margin: 0 auto;
  border-radius: 5% 5% 50% 50%;
  box-shadow: 0 0 0 3px #e67e22;
}

.mug-container:after {
  content: '';
  display: block;
  position: absolute;
  left: 100%;
  top: 20px;
  margin-left: 4px;

  min-width: 25px;
  min-height: 50px;

  box-shadow: 0 0 0 3px #e67e22;
  border-radius: 0 50% 50% 0;
}

/* CSS for footer */
footer {
	height: 75px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 25px 0px;
	background-color: #141414;
}

#socmedia {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.contactmedia {
  display: flex;
  flex-direction: row;
}

footer a {
  font-size: 1.5em;
}

footer i {
  width: 1em;
  padding: 0px 10px;
  text-align: center;
  color: #555;
}

footer i:hover {
  color: #F2F2F2;
}

#footbottom {
  color: #555;
}
