html, body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.game-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 125px);
  background: #f6f6f6;
}

/* CSS for board borders */
.game-row {
  display: flex;
}

.game-row:first-child button {
  border-top: none;
}

.game-row:last-child button {
  border-bottom: none;
}

.game-row button:first-child {
  border-left: none;
}

.game-row button:last-child {
  border-right: none;
}
/* CSS for board borders */


.game-container button {
  width: 2em;
  height: 2em;
  outline: none;
  border: 1px solid #9bb297;
  background: #f6f6f6;
  cursor: pointer;

  font-size: 4em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: transparent;

}

.game-container button:hover {
  color: #d5d5d5;
}

/* Clicked buttons are active and show X or O */
.active-button-first {
  color: #C5796D !important;
}

.active-button-second {
  color: #738cb0 !important;
}

.end-game-container {
  width: 50%;
  height: 40%;
  left: 25%;
  top: 22%;
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(0,0,0,0.7);
}

.end-game-title {
  font-size: 4em;
  color: #9bb297;
  font-family: 'Source Sans Pro', sans-serif;
}

#end-game-button {
  border: 2px solid #9bb297;
  outline: none;
  background: transparent;
  color: #9bb297;
  cursor: pointer;
  padding: 10px;
  font-size: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  transition: .3s;
}

#end-game-button:hover {
  background: #9bb297;
  color: rgba(0,0,0,0.7);
  transition: .3s;
}

/* CSS for footer */
footer {
	height: 75px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 25px 0px;
	background-color: #141414;
}

#socmedia {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactmedia {
  display: flex;
  flex-direction: row;
}

footer a {
  font-size: 1.5em;
}

footer i {
  width: 1em;
  padding: 0px 10px;
  text-align: center;
  color: #555;
}

footer i:hover {
  color: #F2F2F2;
}

#footbottom {
  color: #555;
}

@media screen and (max-width:800px) {
  .container {
    padding-bottom: 325px;
  }
}
