html, body {
  padding: 0;
  margin: 0;
}

.game-container {
  margin-top: 20%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* height: calc(100% - 125px); */
}

/* CSS for board borders */
.game-row {
  display: flex;
}

.game-row:first-child button {
  border-top: none;
}

.game-row:last-child button {
  border-bottom: none;
}

.game-row button:first-child {
  border-left: none;
}

.game-row button:last-child {
  border-right: none;
}
/* CSS for board borders */


.game-container button {
  width: 4em;
  height: 4em;
  outline: none;
  border: 1px solid green;

}

.game-container button:hover {
  background: red;
}

/* CSS for footer */
footer {
	height: 75px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 25px 0px;
	background-color: #141414;
}

#socmedia {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.contactmedia {
  display: flex;
  flex-direction: row;
}

footer a {
  font-size: 1.5em;
}

footer i {
  width: 1em;
  padding: 0px 10px;
  text-align: center;
  color: #555;
}

footer i:hover {
  color: #F2F2F2;
}

#footbottom {
  color: #555;
}

@media screen and (max-width:800px) {
  .container {
    padding-bottom: 325px;
  }
}
