/*stylesheet for calculator app*/

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  /*background: -webkit-linear-gradient(right top, #7a7a7a, #b6b6b6);
  background: -moz-linear-gradient(right top, #7a7a7a, #b6b6b6);*/
  background: -webkit-radial-gradient(ellipse farthest-corner at center top, #e7f2eb 20%, #e4ffee 80%);
  background: -moz-radial-gradient(ellipse farthest-corner at center top, #e7f2eb 20%, #e4ffee 80%);
  background: radial-gradient(ellipse farthest-corner at center top, #e7f2eb 20%, #e4ffee 80%);
  height: 100%;
  padding: 75px 0px;
}

.calc-container {
  box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
  margin: 0px auto 75px auto;
  height: 475px;
  width: 300px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.top-container {
  height: 25%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: -webkit-linear-gradient(right top, #326a63 35%, #abe8e0);
  background: -moz-linear-gradient(right top, #326a63 35%, #abe8e0);
}

.calc-row-1, .calc-row-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /*padding: 0px 20px;*/
  color: #fff;
  font-family: 'Source Sans Pro', Arial;
  overflow-y: hidden;
}

.calc-row-1 {
  height: 30%;
  padding: 0px 20px;
}

.calc-row-2 {
  height: 70%;
}

.calc-row-2 p {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: right;
  font-size: 3em;
  padding: 10px 20px 0px 20px;
  height: 100%;
  width: 260px;
}

button {
  cursor: pointer;
  margin-right: -4px;
  border: 1px solid transparent;
  border-radius: 0px;
  outline: none;
  font-size: 1.5em;
  font-family: 'Source Sans Pro', Arial;
  color: #000;
  background: transparent;
}

.calc-buttons {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #FFF;
  height: 75%;
}

.calc-row {
  height: 20%;
}

/* top row buttons */
/* right column buttons */
.calc-row:first-of-type button, .calc-row button:last-child {
  color: #000;
  background: #e9e9e9;
}

/* class for every clickable button */
.small-square {
  width: 25%;
  height: 100%;
}

.calc-row button:hover {
  background: #ff7566;
  color: #fff;
}

#zero-button {
  width: 50%;
  height: 100%;
  border-bottom-left-radius: 5px;
}

#equal-button {
  border: 0px solid #e9e9e9;
  border-bottom-right-radius: 5px;
  background: -webkit-linear-gradient(right top, #326a63 25%, #abe8e0);
  background: -moz-linear-gradient(right top, #326a63 25%, #abe8e0);
  color: #fff;
}

#equal-button:hover {
  background: -webkit-linear-gradient(right top, #ff7566 25%, #ffd0be);
  background: -moz-linear-gradient(right top, #ff7566 25%, #ffd0be);
}

#clear-button {
  color: #ff7566;
}

#clear-button:hover {
  color: #fff;
}

/* CSS for footer */
footer {
	height: 75px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 25px 0px;
	background-color: #141414;
}

#socmedia {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.contactmedia {
  display: flex;
  flex-direction: row;
}

footer a {
  font-size: 1.5em;
}

footer i {
  width: 1em;
  padding: 0px 10px;
  text-align: center;
  color: #555;
}

footer i:hover {
  color: #F2F2F2;
}

#footbottom {
  color: #555;
}
